@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-track {
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-600 hover:bg-slate-500;
  border-radius: 100vw;
}

@layer base {
  body {
    @apply bg-slate-50;
  }
}

@layer components {
  .wrapper {
    @apply px-5 max-w-6xl mx-auto;
  }

  .read-quran-contents {
    @apply grid sm:grid-cols-2 sm:grid-rows-2 gap-5;
  }

  .biglink {
    @apply block h-full shadow-md p-5 rounded-lg bg-white;
  }
  .biglink-label {
    @apply text-lg sm:text-2xl mb-2 flex items-center;
  }
  .biglink-labelSpan {
    @apply text-slate-900 font-bold w-full;
  }
  .biglink-description {
    @apply text-sm text-slate-500;
  }
}
